.actualizarFoto {
    .fromFoto {
        .form {
            background-color: #fff;
            box-shadow: 0 10px 60px rgb(218, 229, 255);
            border: 1px solid rgb(159, 159, 160);
            border-radius: 20px;
            padding: 2rem .7rem .7rem .7rem;
            text-align: center;
            font-size: 1.125rem;
            max-width: 320px;
        }

        .form-title {
            color: #000000;
            font-size: 1.8rem;
            font-weight: 500;
        }

        .form-paragraph {
            margin-top: 10px;
            font-size: 0.9375rem;
            color: rgb(105, 105, 105);
        }

        .drop-container {
            background-color: #fff;
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin-top: 2.1875rem;
            border-radius: 10px;
            border: 2px dashed rgb(171, 202, 255);
            color: #444;
            cursor: pointer;
            transition: background .2s ease-in-out, border .2s ease-in-out;
        }

        .drop-container:hover {
            background: rgba(0, 140, 255, 0.164);
            border-color: rgba(17, 17, 17, 0.616);
        }

        .drop-container:hover .drop-title {
            color: #222;
        }

        .drop-title {
            color: #444;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            transition: color .2s ease-in-out;
        }

        #file-input {
            width: 350px;
            max-width: 100%;
            color: #444;
            padding: 2px;
            background: #fff;
            border-radius: 10px;
            border: 1px solid rgba(8, 8, 8, 0.288);
        }

        #file-input::file-selector-button {
            margin-right: 20px;
            border: none;
            background: #084cdf;
            padding: 10px 20px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: background .2s ease-in-out;
        }

        #file-input::file-selector-button:hover {
            background: #0d45a5;
        }


        .boton{
            button {
                font-family: inherit;
                font-size: 15px;
                background: royalblue;
                color: white;
                padding: 0.7em 1em;
                padding-left: 0.9em;
                display: flex;
                align-items: center;
                border: none;
                border-radius: 16px;
                overflow: hidden;
                transition: all 0.2s;
              }
              
              button span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
              }
              
              button svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
              }
              
              button:hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
              }
              
              button:hover svg {
                transform: translateX(1.2em) rotate(45deg) scale(1.1);
              }
              
              button:hover span {
                transform: translateX(5em);
              }
              
              button:active {
                transform: scale(0.95);
              }
              
              @keyframes fly-1 {
                from {
                  transform: translateY(0.1em);
                }
              
                to {
                  transform: translateY(-0.1em);
                }
              }
        }

        .botonCancelar{
            button {
                width: 150px;
                height: 50px;
                cursor: pointer;
                display: flex;
                align-items: center;
                background: red;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
                background: #e62222;
               }
               
               button, button span {
                transition: 200ms;
               }
               
               button .text {
                transform: translateX(35px);
                color: white;
                font-weight: bold;
               }
               
               button .icon {
                position: absolute;
                border-left: 1px solid #c41b1b;
                transform: translateX(110px);
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
               }
               
               button svg {
                width: 15px;
                fill: #eee;
               }
               
               button:hover {
                background: #ff3636;
               }
               
               button:hover .text {
                color: transparent;
               }
               
               button:hover .icon {
                width: 150px;
                border-left: none;
                transform: translateX(0);
               }
               
               button:focus {
                outline: none;
               }
               
               button:active .icon svg {
                transform: scale(0.8);
               }
        }
    }
}