.nueva-receta {
    width: 100vw;
    position: relative;
    padding: 120px 0px 0px 0px;

    .nueva-receta__container {
        width: 75%;
        margin: auto;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fbfbfb;
        border-radius: 5px;
        border: 1px solid #cdd7dd;
        padding: 10px;

        .step-titles__container {
            display: grid;
            width: 96%;
            gap: 30px;
            grid-template-columns: repeat(6, 1fr);
            justify-content: space-between;
            align-items: center;
            margin: 20px 0px 30px 0px;

            .step-title__container {
                padding: 10px;
                border-radius: 5px;
                display: grid;
                place-content: center;
                border: 2px solid #ffad5b;
                background-color: #ffe8d0;
                color: #96622d;
                pointer-events: none;
            }
        }


        .forms__container {
            width: 96%;
            margin-bottom: 30px;

            .form__container {
                // border: 1px solid blue;
                background-color: white;
                border: 1px solid #d5d5d5;
                border-radius: 5px;
                padding: 20px 10px 10px 10px;
            }
        }
    }

    .btn {
        text-decoration: none;
        background-color: transparent;
        border: none;
        outline: 1px solid grey;
        padding: 7px;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }

    .btn-siguiente {
        outline: 1px solid #a0c73d;
        color: #a0c73d;
        transition: 0.2s ease-in-out all;
    }

    .btn-siguiente:hover {
        color: white;
        background-color: #a0c73d;
    }

    .btn-cancelar {
        outline: 1px solid #808080;
        color: #808080;
        transition: 0.2s ease-in-out all;
    }
    .btn-cancelar:hover {
        color: white;
        background-color: #808080;
    }

    .required__text {
        color: #ff3d3d;
    }

    .optional__text {
        color: #828282ab;
        font-weight: 400;
    }

    @import 'registrar-receta';
    @import 'receta-imagen';
}