.home {


    header {
        position: relative;
       
        
      
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: verdana;
        }
      
       
      
       
      
        profile-options {
          bottom: color;
          left: 0;
          position: fixed;
          ;
        }
      
        .bg-imagen_container{
          border: 1px solid red;
          background-image: url('@/assets/imgs/Banner-Food1.png');
          width: 100vw;
          height: 100vh;
          background-size: cover;

        }
      
        
      
      }
      
      
      
      .brand img {
        height: 45px;
      }
      
      .brand {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
      }

      // .zona1 {
      //   position:relative;
      //   width: 100%;
      //   height: 100vh;
      //   background: url(/src/assets/imgs/easyeatsbackground.png);
      //   background-size: cover;
      //   background-position: center center;
      // }
      
}