header {
  position: relative;
 
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
  }

 

 

  profile-options {
    bottom: color;
    left: 0;
    position: fixed;
    ;
  }

  .bg-imagen_container{
    width: 100vw;
    height: 20vh;
    position: relative;
  }

  

}



header .brand img {
  height: 45px;
}

header .brand {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar ul li {
  list-style: none;
}

header .navbar a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 7px 12px;
  border-radius: 20px;
  transition: 0.7s;
  transition-property: color, background;
}



// header .navbar a:hover {
//   color: #000;
//   background: #ffffff;
// }

// .section-two {
//   padding: 20px;
// }

// header .btn {
//   color: #fff;
//   font-size: 25px;
//   cursor: pointer;
//   display: none;
// }

// @media (max-width: 991px) {

//   header,
//   header.down {
//     padding: 20px 40px;
//   }

//   header .btn {
//     display: block;
//   }

//   header .navbar {
//     position: fixed;
//     background: #1483D5;
//     min-width: 330px;
//     height: 100vh;
//     top: 0;
//     right: -100%;
//     padding: 80px 50px;
//     transition: 0.5s;
//     transition-property: right;
//   }

//   header .navbar ul {
//     flex-direction: column;
//   }

//   header .navbar.active {
//     right: 0;
//   }

//   header .navbar .close-btn {
//     position: absolute;
//     top: 0;
//     left: 0;
//     margin: 25px;
//   }

//   header .navbar a {
//     display: block;
//     font-size: 20px;
//     margin: 20px;
//     padding: 0 15px;
//   }
// }

// body{
//   min-height: 100vh;
// }

// @media (max-width: 600px) {
//   .section-main h1 {
//     font-size: 50px;
//     line-height: 60px;
//   }
// }