.home {
    header {
        position: relative;
       
        
      
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: verdana;
        }
      
       
      
       
      
        profile-options {
          bottom: color;
          left: 0;
          position: fixed;
          ;
        }
      
        .bg-imagen_container{
          width: 100vw;
          height: 20vh;
          position: relative;
        }
      
        
      
      }
      
      
      
      header .brand img {
        height: 45px;
      }
      
      header .brand {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
      }
      
}