.Lucero {
    h1 {
        color: red;
    }


    header {
        #bienvenida {
            color: blue;
        }
    }

    // Estilos del componente formulario
    .formulario {
        width: 100%;
        
    }
}