.nosotros{
    font-family: verdana;
    position: relative;
    
    p {
        // border: 1px solid red;
        margin: 10vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: sticky;
      }
    .title{
        text-align: center;
        color: red;
    }
    
}