.prefe{
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;

    .container{
        border-radius: 20px;
        box-shadow:
            0px 0.9px 1.1px rgba(0, 0, 0, 0.036),
            0px 2px 2.3px rgba(0, 0, 0, 0.053),
            0px 3.4px 3.9px rgba(0, 0, 0, 0.065),
            0px 5.1px 5.9px rgba(0, 0, 0, 0.075),
            0px 7.4px 8.5px rgba(0, 0, 0, 0.085),
            0px 10.5px 12.1px rgba(0, 0, 0, 0.095),
            0px 14.8px 17.1px rgba(0, 0, 0, 0.105),
            0px 21.5px 24.8px rgba(0, 0, 0, 0.117),
            0px 33.2px 38.3px rgba(0, 0, 0, 0.134),
            0px 59px 68px rgba(0, 0, 0, 0.17);
        background-color: hsla(0, 0%, 86%, 0.204);
        background-image: url('@/assets/imgs/img.avif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        border: 1px solid rgb(80, 80, 80);
        overflow: hidden;
        margin: 90px auto 0px auto;
        display: flex;
        width: 250px;
        flex-direction: column;
        color: white;
        padding: 20px 180px 20px 20px;

        .title_container {
            width: 100%;
            margin-bottom: 10px;

            h1{
                color: white;
                padding: 0px 0px 10px 0px;
                font-size: 2rem; 
            }
        }

        .form__container {

            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 20px;
            width: 100%;

            .form-group{
                width: 70%;
                width: 100%;

                .form-label {
                    text-transform: uppercase;
                    font-size: 0.9rem;
                }

                .form-input {
                    width: 100%;
                    
                    input, select {
                        width: 98%;
                        padding: 5px 0px 5px 10px;
                        outline: none;
                        border: none;
                        border-radius: 100px;
                        border-bottom: 3px solid #eeab4f;
                        margin-top: 5px;
                    }
                }
            }

            .options-group {
                width: 100%;

                .opciones {
                    display: flex;
                    justify-content: flex-end;
                    gap: 20px;
                    margin-top: 20px;
                }

                .btn {
                    border: 2px solid #eeab4f;
                    outline: none;
                    text-decoration: none;
                    color: #eeab4f;
                    background-color: transparent;
                    font-size: 0.8rem;
                    padding: 5px 9px;
                    border-radius: 5px;
                }

                .btn:hover {
                    background-color: #eeab4f;
                    color: white;
                    transition: 0.1s ease-in-out all;
                }
            }
        }
    }       
}