// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color-primario: #f29f05;
$color-secundario: #D95504;
$color-terciario: #8C8303;
$color-auxiliar: #A67A53;
$color-oscuro: #261A1A;

// ========== Material Design 3 ==========
// Ligth scheme
$mate-ligth-primary: #835400;
$mate-ligth-on-primary: #ffffff;
$mate-ligth-primary-container: #ffddb5;
$mate-ligth-on-primary-container: #2a1800;
$mate-ligth-secondary: #705b40;
$mate-ligth-on-secondary: #ffffff;
$mate-ligth-secondary-container: #fbdebc;
$mate-ligth-on-secondary-container: #271905;
$mate-ligth-tertiary: #53643e;
$mate-ligth-on-tertiary: #ffffff;
$mate-ligth-tertiary-container: #d5eaba;
$mate-ligth-on-tertiary-container: #111f03;
$mate-ligth-error: #ba1a1a;
$mate-ligth-on-error: #ffffff;
$mate-ligth-error-container: #ffdad6;
$mate-ligth-on-error-container: #410002;
$mate-ligth-background: #fffbff;
$mate-ligth-on-background: #1f1b16;
$mate-ligth-surface: #fffbff;
$mate-ligth-on-surface: #1f1b16;
$mate-ligth-outline: #817568;
$mate-ligth-surface-variant: #f0e0d0;
$mate-ligth-on-surface-variant: #4f4539;
// Dark scheme
$mate-dark-primary: #ffb958;
$mate-dark-on-primary: #462b00;
$mate-dark-primary-container: #643f00;
$mate-dark-on-primary-container: #ffddb5;
$mate-dark-secondary: #dec2a2;
$mate-dark-on-secondary: #3e2d16;
$mate-dark-secondary-container: #57432b;
$mate-dark-on-secondary-container: #fbdebc;
$mate-dark-tertiary: #b9cda0;
$mate-dark-on-tertiary: #253514;
$mate-dark-tertiary-container: #3b4c29;
$mate-dark-on-tertiary-container: #d5eaba;
$mate-dark-error: #ffb4ab;
$mate-dark-on-error: #690005;
$mate-dark-error-container: #93000a;
$mate-dark-on-error-container: #ffdad6;
$mate-dark-background: #1f1b16;
$mate-dark-on-background: #ebe1d9;
$mate-dark-surface: #1f1b16;
$mate-dark-on-surface: #ebe1d9;
$mate-dark-outline: #9c8e80;
$mate-dark-surface-variant: #4f4539;
$mate-dark-on-surface-variant: #d3c4b4;

$mate-palette-primary0: #000000;
$mate-palette-primary10: #2a1800;
$mate-palette-primary20: #462b00;
$mate-palette-primary25: #543500;
$mate-palette-primary30: #643f00;
$mate-palette-primary35: #734900;
$mate-palette-primary40: #835400;
$mate-palette-primary50: #a56b00;
$mate-palette-primary60: #c78200;
$mate-palette-primary70: #eb9a00;
$mate-palette-primary80: #ffb958;
$mate-palette-primary90: #ffddb5;
$mate-palette-primary95: #ffeedd;
$mate-palette-primary98: #fff8f4;
$mate-palette-primary99: #fffbff;
$mate-palette-primary100: #ffffff;

$mate-palette-secondary0: #000000;
$mate-palette-secondary10: #271905;
$mate-palette-secondary20: #3e2d16;
$mate-palette-secondary25: #4a3820;
$mate-palette-secondary30: #57432b;
$mate-palette-secondary35: #634f35;
$mate-palette-secondary40: #705b40;
$mate-palette-secondary50: #8a7357;
$mate-palette-secondary60: #a58d6f;
$mate-palette-secondary70: #c1a788;
$mate-palette-secondary80: #dec2a2;
$mate-palette-secondary90: #fbdebc;
$mate-palette-secondary95: #ffeedd;
$mate-palette-secondary98: #fff8f4;
$mate-palette-secondary99: #fffbff;
$mate-palette-secondary100: #ffffff;

$mate-palette-tertiary0: #000000;
$mate-palette-tertiary10: #111f03;
$mate-palette-tertiary20: #253514;
$mate-palette-tertiary25: #30401e;
$mate-palette-tertiary30: #3b4c29;
$mate-palette-tertiary35: #475833;
$mate-palette-tertiary40: #53643e;
$mate-palette-tertiary50: #6b7d55;
$mate-palette-tertiary60: #84976d;
$mate-palette-tertiary70: #9eb286;
$mate-palette-tertiary80: #b9cda0;
$mate-palette-tertiary90: #d5eaba;
$mate-palette-tertiary95: #e3f8c8;
$mate-palette-tertiary98: #f0ffd8;
$mate-palette-tertiary99: #f8ffe9;
$mate-palette-tertiary100: #ffffff;

$mate-palette-neutral0: #000000;
$mate-palette-neutral10: #1f1b16;
$mate-palette-neutral20: #35302a;
$mate-palette-neutral25: #403a35;
$mate-palette-neutral30: #4b4640;
$mate-palette-neutral35: #57514b;
$mate-palette-neutral40: #645d57;
$mate-palette-neutral50: #7d766f;
$mate-palette-neutral60: #978f88;
$mate-palette-neutral70: #b2aaa2;
$mate-palette-neutral80: #cec5bd;
$mate-palette-neutral90: #ebe1d9;
$mate-palette-neutral95: #f9efe7;
$mate-palette-neutral98: #fff8f4;
$mate-palette-neutral99: #fffbff;
$mate-palette-neutral100: #ffffff;

$mate-palette-neutral-variant0: #000000;
$mate-palette-neutral-variant10: #221a10;
$mate-palette-neutral-variant20: #382f24;
$mate-palette-neutral-variant25: #443a2e;
$mate-palette-neutral-variant30: #4f4539;
$mate-palette-neutral-variant35: #5c5144;
$mate-palette-neutral-variant40: #685c50;
$mate-palette-neutral-variant50: #817568;
$mate-palette-neutral-variant60: #9c8e80;
$mate-palette-neutral-variant70: #b7a99a;
$mate-palette-neutral-variant80: #d3c4b4;
$mate-palette-neutral-variant90: #f0e0d0;
$mate-palette-neutral-variant95: #ffeedd;
$mate-palette-neutral-variant98: #fff8f4;
$mate-palette-neutral-variant99: #fffbff;
$mate-palette-neutral-variant100: #ffffff;

$mate-palette-error0: #000000;
$mate-palette-error10: #410002;
$mate-palette-error20: #690005;
$mate-palette-error25: #7e0007;
$mate-palette-error30: #93000a;
$mate-palette-error35: #a80710;
$mate-palette-error40: #ba1a1a;
$mate-palette-error50: #de3730;
$mate-palette-error60: #ff5449;
$mate-palette-error70: #ff897d;
$mate-palette-error80: #ffb4ab;
$mate-palette-error90: #ffdad6;
$mate-palette-error95: #ffedea;
$mate-palette-error98: #fff8f7;
$mate-palette-error99: #fffbff;
$mate-palette-error100: #ffffff;